{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/login.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/reregister.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}"/>
</head>
<body>
<div id="bind_email" >
    <div id="bind-title">
        <h2>输入邮箱</h2>
    </div>
    <div class="bind-form">
                 <span style="color: red;font-size: 20px;visibility: hidden;position: relative;left: 100px;top: 40px"
                       id="code-email-error">
                 </span>
        <form>
            {% csrf_token %}
            <span id="code-email-error" style="visibility: hidden">

                </span>
            <input type="email" name="email" placeholder="请输入邮箱" class="email-input">
            <div id="email_check">
                <input type="text" name="code" placeholder="验证码" class="email-code-form">
                <button type="button" id="send--email-code" onclick="confirm_code(this)">
                    发送验证码
                </button>
            </div>
            <button id="confirm-email" type="button" οnclick="sendemail()">确定</button>
        </form>
    </div>
</div>

<div id="background" class="hidden">
    <div class="card-signin">
        <h2 class="form-signin-heading text-center">找回密码</h2>
        <form action="{% url 'account:re_register' %}" method="post" enctype="multipart/form-data" class="form-horizontal" id="form">
            {% csrf_token %}
                   {{ form.username }}
                <div class="form-group">
                        <label class="lable-font"> 请输入新密码 </label>
                        {{ form.password }}

                    {{ field.errors }}

                    <br/>
                </div>
            <div class="form-group">
                        <label class="lable-font"> 请再次输入新密码 </label>
                        {{ form.password1 }}

                    {{ field.errors }}

                    <br/>
                </div>
            <span class="error_font">{{ error_message }}</span>
            <button type="button" onclick="check_password()" class="btn-primary btn-wd">提交</button>
        </form>
    </div>
</div>
</div>
<script src="{% static 'jquery/jquery-3.3.1.js' %}">

</script>
<script type="text/javascript">
    var countdown = 60;

    function send_email_code() {
        let host = window.location.host;
        url = "http://" + host + "/account/get_code/";
        email = $(".email-input").val();
        csrf = $(".bind-form").children("form").children("input")[0];
        csrf = $(csrf).val();
        type = "find";
        data = {
            "email": email,
            "csrfmiddlewaretoken": csrf,
            "type": type
        };
        $.post(url, data, function (data, status) {
            alert(data["msg"]);
            if (!data["res"]) {
                $("#code-email-error").css("visibility", "visible");
                $("#code-email-error").text(data["error"]);
                $("#send--email-code").text("发送验证码")
            } else {
                $("#confirm-email").click(
                    function () {
                        var1 = String($(".email-code-form").val());
                        var2 = String(data["code"]);
                        if (var1 == var2) {
                            $("#background").removeClass("hidden");
                            $("#bind_email").addClass("hidden");
                            $("#id_username").val(data["username"]);
                        } else {
                            $("#code-email-error").css("visibility", "visible");
                            $("#code-email-error").text("验证码错误，请重新输入")
                        }
                    }
                )
            }


        })
    }

    function confirm_email(obj) {
        obj = $(obj);
        settime(obj);
    }

    function confirm_code(obj) {
        obj = $(obj);
        let email = $(".email-input").val();
        var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
        if (!email) {
            $("#code-email-error").text("邮箱不能为空");
            $("#code-email-error").css("visibility", "visible")
        } else if (!reg.test(email)) {
            $("#code-email-error").css("visibility", "visible");
            $("#code-email-error").text("邮箱格式不正确");
        } else {
            send_email_code();
            settime(obj);
        }
    }

    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) {
            obj.attr('disabled', false);
            //obj.removeattr("disabled");
            obj.text("发送验证码");
            countdown = 60;
            return;
        } else {
            obj.attr('disabled', true);
            obj.text("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function () {
                settime(obj)
            }
            , 1000)
    }

</script>
<script type="text/javascript">
        function check_password() {
        var password = $("#id_password").val();
        var password1 = $("#id_password1").val();
        var username = $("#id_username").val();

        if(password1!=""&&password!=""){
              if(password==password1){
            if(password.length<8){
                 $(".error_font").text("密码长度不少于8个字符");
            }
            else {
                var patt1=new RegExp("\s");

                if(patt1.test(password)){
                    $(".error_font").text("密码中不能使用空格");
                }else{
                    let digit = 0;
                let lower = 0;
                let upper = 0;
                let other = 0;
                let pattem2 =  new RegExp("\d");
                let pattem3 =  new RegExp("[a-z]");
                let pattern4 = new RegExp("[A-Z]");
                for(i=0;i<password.length;i++){
                    if(pattem2.test(password[i])){
                        digit=1;
                    }
                    else if(pattem3.test(password[i])){
                        lower =1;
                    }
                    else if(pattern4.test(password[i])){
                        upper = 1;
                    }
                    else{
                        other = 1;
                    }
                }
                if(digit+lower+upper+other>=3){
                         let host = window.location.host;
                    url = "http://" + host + "/account/re_register/";
                       var csrf = $("#form").children("input")[0].value;
                       console.log(csrf);
                    data = {
                        "password1":password,
                        "username":username,
                         "csrfmiddlewaretoken": csrf,
                    };
                    $.post(url,data,function (data,status) {
                        if(status=="success"){
                            alert("密码找回成功");
                            window.location.href = data["url"];
                        }
                    })
                }
                else{
                     $(".error_font").text("密码中要求使用小写字母，大写字母，数字及其它字符至少三种");
                }
                }

            }
        }
        else {
            $(".error_font").text("两次密码输入不一致");
        }
        }
        else{
              $(".error_font").text("密码不能为空");
        }

    }
</script>
</body>
</html>