{% load static %}
    <script src="{% static 'js/jquery.slideBox.min.js' %}"></script>
    <script src="{% static 'js/slideshow.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/jquery.slideBox.css' %}">
                    <div id="demo1" class="slideBox">
                        <ul class="items">
                            <li><a href="http://sc.chianz.com/" title="这里是测试标题一"><img
                                    src="{% static 'image/carousel/a1.jpg' %}"></a></li>
                            <li><a href="http://sc.chianz.com/" title="这里是测试标题二"><img
                                    src="{% static 'image/carousel/a2.jpg' %}"></a></li>
                            <li><a href="http://sc.chianz.com/" title="这里是测试标题三"><img
                                    src="{% static 'image/carousel/a3.jpg' %}"></a></li>
                            <li><a href="http://sc.chianz.com/" title="这里是测试标题四"><img
                                    src="{% static 'image/carousel/a4.jpg' %}"></a></li>
                            <li><a href="http://sc.chianz.com/" title="这里是测试标题五"><img
                                    src="{% static 'image/carousel/a5.jpg' %}"></a></li>
                        </ul>
                    </div>